## FLOAT

In [ ]:
print(10.3)

In [ ]:
print(type(10.3))

In [ ]:
print(.9)

In [ ]:
print(4.)

In [ ]:
print(type(.9))

In [ ]:
print(4e9)

In [ ]:
print(5e-9)

In [ ]:
print(5e-4)

In [ ]:
1.79e308

In [ ]:
1.8e309

In [ ]:
5e-324

In [ ]:
1e-325

## 1 FAQ - Convert comma seperated number to float

In [ ]:
comma_sep_num,a,b = 10,234,567.45
type(comma_sep_num)

In [ ]:
a

In [ ]:
comma_sep_num = '10.23.45.67.45'
type(comma_sep_num)

In [ ]:
comma_sep_num = comma_sep_num.replace(",","")
comma_sep_num

In [ ]:
float(comma_sep_num)

## 2 FAQ - Range() function issue

In [ ]:
loop_range = 10/3
loop_range

In [ ]:
number_to_add = 1
for i in range(int(loop_range)):
    print(number_to_add + i)

## 3 FAQ - Round() function issue

In [ ]:
number = 3

In [ ]:
number/2

In [ ]:
round(number/2)

In [ ]:
number = 4

In [ ]:
number/2

In [ ]:
round(number/2)

In [ ]:
number = 5

In [ ]:
number/2

In [ ]:
round(number/2)

In [ ]:
round(2.501)

In [ ]:
for i in range(1, 20, 2):
    n = i / 2
    print(n,i, "=>", round(n))

In [ ]:
from decimal import localcontext, Decimal, ROUND_HALF_UP

In [ ]:
with localcontext() as ctx:
     ctx.rounding = ROUND_HALF_UP
     for i in range(1, 20, 2):
         n = Decimal(i) / 2
         print(n, '=>', n.to_integral_value())

## 4 FAQ - Float to  String & Integer

In [ ]:
float_num = 67.88888888888889
float_num

In [ ]:
string_num = str(float_num)
string_num

In [ ]:
integer_num = int(float_num)
integer_num

In [ ]:
float(integer_num)

## 5 FAQ - Float equality problem

In [1]:
float_num = 70.00
print(float_num)

70.0

In [2]:
float_num -= 65.05
print(float_num)

4.950000000000003

In [7]:
round(float_num,2)

4.95

In [3]:
compare_float = 4.95
compare_float

4.95

In [6]:
round(float_num,2) == (compare_float)

True

## Important Link

floating Point Error :

https://docs.oracle.com/cd/E19957-01/806-3568/ncg_goldberg.html

https://floating-point-gui.de/basic/
        
https://docs.python.org/3.6/tutorial/floatingpoint.html

scientific notation e : https://en.wikipedia.org/wiki/Scientific_notation