## NUMBER

In [ ]:
print(10)

In [ ]:
type(10)

In [ ]:
print(type(10))

In [ ]:
# binary representation
print(type(0b10))

In [ ]:
print(0B01)

In [ ]:
# Octal Representation
print(0O26)

In [ ]:
# Hexadecimal Representation
print(0x12)

In [ ]:
# Length of integer value
print(123123123123123123123123123123123123123123123123*100)

## 1 FAQ - Split Integer

In [ ]:
integer_variable = 12345
# 1,2,3,4,5

In [ ]:
type(integer_variable)

In [ ]:
[int(i) for i in str(12345)]

In [ ]:
split_list = [int(i) for i in str(12345)]
split_list

In [ ]:
split_list = map(int,str(12345))
print([i for i in map(int,str(12345))])

In [ ]:
list(str(12345))

In [ ]:
print([int(i) for i in list(str(12345))])

## 2. FAQ - Combine Integer and String

In [ ]:
string_variable = 'this is great'

In [ ]:
number_variable = 1234

In [ ]:
string_variable + " " +str(number_variable)

In [ ]:
string_variable = 'this is great'
for i in [2,3,45,67]:
    string_variable += " " + str(i) 
print(string_variable)

In [ ]:
string_variable = 'this is great'

In [ ]:
[string_variable+str(i) for i in range(11)]

## 3. FAQ - Convert integer into Binary, Octal, Hexadecimal

In [ ]:
"{0:b}".format(91)

In [ ]:
binary_num = "{0:b}".format(91)
binary_num

In [ ]:
"{0:o}".format(56)

In [ ]:
"{0:x}".format(45)

In [ ]:
get_bin = lambda x: format(x, 'b')

print(get_bin(91))

In [ ]:
print(get_bin(45))

In [ ]:
get_bin = lambda x: format(x, 'o')

print(get_bin(81))

In [ ]:
get_bin = lambda x: format(x, 'x')

print(get_bin(93))

In [ ]:
int(1011011, 2)

In [ ]:
int("""5d""",16)

In [ ]:
int('121',8)

## 4 FAQ - Convert Integer into character

In [ ]:
chr(1234)

In [ ]:
ord('A')

## 5 FAQ - Split number into integer and decimal part

In [ ]:
import math
x = 1234.5678
math.modf(x)

In [ ]:
string_number = 1234.5678

In [ ]:
str(string_number).split(".")

In [ ]:
str(x).split(".")

In [ ]:
first_num = str(x).split(".")[0]
second_num = str(x).split(".")[1]
first_num
second_num

## 6. FAQ - Round float to integer

In [2]:
import math
print(math.ceil(7.01))

8

In [5]:
round(7.4)

7

## 7. FAQ - Convert integer into date object

In [18]:
from datetime import datetime, timedelta
date_object = "20200101"
year = 2020
month =1
day = '2'

In [19]:
date = datetime(year=year, 
                month=month, 
                day=day)

TypeError: an integer is required (got type str)

In [13]:
print(date)

2020-01-02 00:00:00

In [14]:
date += timedelta(days=10)

In [20]:
date.strftime("%d%m%Y")

'07012020'

In [16]:
date -= timedelta(days=5)

In [17]:
date.strftime("%Y%m%d")

'20200107'

## 8. FAQ - “is” operator unexpected behavior

In [26]:
a = 100000
a

100000

In [27]:
b = 10**5
b

100000

In [28]:
b is a

False

In [29]:
b == a

True

In [30]:
id(a)

140408995152368

In [31]:
id(b)

140408995152752

## Important Link

Binary number - https://en.wikipedia.org/wiki/Binary_number

Octal number system - https://en.wikipedia.org/wiki/Octal

Hexadecimal number system - https://en.wikipedia.org/wiki/Hexadecimal

Built in function chr() - https://docs.python.org/3/library/functions.html

Built in function ord() - https://docs.python.org/3/library/functions.html#ord